*{
    margin:0;
    padding:0;
    box-sizing: boarder-box;
    font: Arial, sans-serif;
}
body{
    background-color:#fffeff;
    display:flex;
    justify-content: center;
    align-items:center;
    height: 100vh;
}
.signinbox{
    background-color:rgb(111, 171, 167);
    padding: 30px;
    border-radius: 10px;
    height: 200px;
    width: 300px;
    display:flex;
    flex-direction: column;
    align-items: center;
}
.signinbox input{
    width: 100%;
    padding: 11px;
    margin-bottom: 10px;
    border: 1px solid #007BFF;
    border-radius: 5px;
}
.signinbox button{
    width:100%;
    padding:10px;
    margin-bottom: 10px;
    background:#11ba44;
    color:#fff;
    border: none;
    border-radius: 5px;
    cursor:pointer;
    
}   
